[2015-05-27 06:45] NBAMj opened #3 "Issue with .transition('horizontal')"
I must say, I really like your component so far.
The ability to customize so many things is very nice and I am stilling testing the component.

The problem I faced is when using the transition 'horizontal' with $ionicFilterBarConfigProvider.
Take a look at the img:
![ion-search-filter-issue](https://cloud.githubusercontent.com/assets/3479105/7830343/617775dc-045d-11e5-8f8e-75aaf5b320cf.gif)

[2015-05-27 13:23] djett41 commented on #3
thanks @NBAMj so the issue seems to be for the IOS layout and horizontal transition correct?

I can take a look at it today or tomorrow thanks!

[2015-05-28 03:03] #3 closed

[2015-05-28 03:12] djett41 commented on #3
I released a new version 1.0.1 with the fix.  Thanks! @NBAMj

[2015-06-08 20:18] olasfar opened #5 "filterProperties as Array doen't work"
$ionicFilterBar.show({
  items: items,
  update: function (filteredItems) {
    $scope.events = filteredItems;
  },
  filterProperties: ['toto', 'tata']
});

Doesn't return the right items.

With only one property it returns 3 items with 2 properties (['toto', 'tata']) it returns 0 items for the same keyword..

[2015-06-08 20:37] djett41 commented on #5
Thanks @olasfar .  If you can provide the following info, I can quickly reproduce the issue and provide a fix for you
1.  An example of the events array, along with an example of each event object in the array that your are filtering against.
2.  A full example of how you are calling show.  For example, right now you are passing in a variable named items to the items property, but on update settin

[2015-06-08 20:57] djett41 commented on #5
@olasfar I'm seeing expected behavior as described in the docs.  See the Angular docs on filter expression object's for more details ( https://docs.angularjs.org/api/ng/filter/filter )

For example, in the demo, if you were to add a foo property with a value of 'item' as below..

[code]

Then in your call to show add foo as a second filter expression property as below

[code]

And search for the t

[2015-06-08 22:12] olasfar commented on #5
Thank you @djett41 for you help, it was just AND / OR issue :+1: Removing filterProperties resolves my issue.

[2015-06-08 22:12] #5 closed

[2015-06-08 22:28] djett41 commented on #5
Awesome @olasfar glad to hear!  :+1: :+1:

[2015-06-20 06:53] captainjim1 opened #6 "$ionicfilterBarConfigProvider not available"
Love the directive, but it appears the documentation doesn't match the code. There is no "$ionicfilterBarConfigProvider" available for injection. There is a '$ionicfilterBarConfig', but it doesn't allow for easy theme switching as the documents suggest. Also, the default theme is set to 'positive', not 'light' or 'stable' as needed.

[2015-06-20 19:39] #6 closed

[2015-06-20 19:46] djett41 commented on #6
@captainjim1 thanks and nice catch!! I modified the config to be consistent with the docs (light theme for android, stable for ios and others)

As far as changing the theme, I also added a NOTE to the docs reminding that the ion-nav-bar theme class must be consistent with the ionic-filter-bar theme.  So if you look in the demo at index.html, you will see ion-nav-bar has a bar-positive css class.

[2015-06-20 19:46] djett41 commented on #6
I also forgot to mention, I just published version 1.0.2 with the changes mentioned above so download the latest when you get a chance thanks!

[2015-06-20 21:20] djett41 opened #9 "Make theme inherit theme and color options of ion-nav-bar"
Theme should be consistent with ion-nav-bar so you aren't required to set the theme.

For example, as in the demo index.html, if the ion-nav-bar directive has a "bar-positive" css class, the filter bar should automatically inherit the theme and have a filter-bar-positive class.

Then you should be able to override this default behavior by configuring a theme as usual, say if you wanted the filter

[2015-06-20 21:24] #9 closed

[2015-06-20 21:30] djett41 commented on #6
@captainjim1 I actually went a different route now and just released an even newer version 1.0.3.

Now the theme is inherited by the ion-nav-bar theme/color options.  So if you look at the demo, the ion-nav-bar has a "bar-positive" class.  The filter bar will now stay consistent with ion-nav-bar and automatically have a "filter-bar-positive" class as a result, maintaining the positive theme..

You

[2015-06-20 22:36] bbisinger commented on #6
Perfect! Thanks for the quick turn around!

[2015-06-20 22:43] djett41 commented on #6
no prob thanks for bringing it to my attention!

[2015-06-21 00:12] captainjim1 opened #11 "'transition' mixin not included in SASS files"
Compiling ionic.filter.bar.scss throws an error on line 31
"@include transition(opacity 150ms ease-in-out);"

[2015-06-21 00:29] djett41 commented on #11
@captainjim1 make sure you're also including the ionic sass import since the ionic-filter-bar depends on ionic.  look at the demo/styles/main.scss file for an exmaple.. there you will see the ionic sass is imported before the filter bar sass.  This way we have access to al of the ionic mixins and nav bar variables so we dont have duplicated code.

[2015-06-21 01:09] bbisinger commented on #11
Hmm.. I guess I have a different issue then. I'm using gulp-sass with watchify to recompile everything whenever a change occurs. Ionic compiles just fine, but when I add your sass as an entry point it obviously doesn't know about the ionic sass.. I'll look into my options...

[2015-06-21 01:28] djett41 commented on #11
got ya.  im not too familiar with watchify but if your watch task watches individual files and then compiles the main file (which includes ionic, filter-bar, and any other custom scss) then it should be fine.  If your watcher is trying to compile individual files rather than the main file which includes imports then I could see that potentially being an issue.

Let me know what you find out.

[2015-06-21 01:34] djett41 commented on #11
I'm just using gulp.watch which will then run the styles task when a change is detected.  This recompiles the main file with no errors.

[code]

perhaps you could still use gulp.watch for your scss files while using watchify for your other watches as shown here https://truongtx.me/2014/08/06/using-watchify-with-gulp-for-fast-browserify-build/

[2015-06-21 02:50] bbisinger commented on #11
Adding a main sass file that imports everything else fixed my problem .. not sure how I failed to that in the first place.

[2015-06-21 02:53] djett41 commented on #11
nice! Just make sure that main file that gets compiled is the only css imported in your index, rather than importing ionic css AND your main compiled css that also includes the ionic css.

[2015-06-21 02:55] bbisinger commented on #11
Yep -- all of my different sass roots are in imported in one file... just one css file is created and that one css file is all that's loaded by my site. Thanks again!

[2015-06-21 03:08] djett41 commented on #11
Great.  No prob!  I;m going to close this issue

[2015-06-21 03:09] #11 closed

[2015-06-26 14:13] rebelholic opened #12 "Some problem"
I already tested your plugin and really cool but got some problem like below:

* Why Nav- bar cannot hide after click search icon and cannot doing vertical transition like my screenshot below:
![ionicbar](https://cloud.githubusercontent.com/assets/6254876/8378870/8cbf9548-1c46-11e5-9069-51a5bd4df322.jpg)
Its my template HTML:

        <ion-view cache-view="false" view-title="Quotation List">

[2015-06-27 07:12] djett41 commented on #12
Thanks @rebelholic can you put together a codepen at http://codepen.io/ so i can see what could be causing the issue?

I added your HTML to the demo and it worked just fine even with vertical animation for android.   After looking at your screenshot it's possible that you may have some conflicting sass or css styles that are causing this, perhaps a Z-index defined somewhere?  Can you post your sty

[2015-06-27 09:05] rebelholic commented on #12
@djett41 Sorry I can't use codepen.io to reproduce my problem because still unfamiliar but you can download my example code [on this link](https://github.com/rebelholic/Ionic-Filter-Bar-Bug/) to reproduce my problem just with "Ionic Serve" on cmd.
I am using latest version Ionic 1.00

[2015-06-27 21:52] djett41 commented on #12
I see the issue @rebelholic .

You need to import the ionic-filter-bar.css (or .min file) in your index.html.  Right now you have the ionic css imported, but the ionic-filter-bar css needs to be imported after the ionic.css.

That fixed the issue

[2015-06-28 02:53] rebelholic commented on #12
@djett41 Thanks I forgot to add this but I've got another issue like my search result giving "no result" message if we added more than one item to filter Properties like ['name','text'] please check my [updated repo](https://github.com/rebelholic/Ionic-Filter-Bar-Bug/) to reproduce this bug

[2015-06-28 03:16] djett41 commented on #12
@rebelholic are you trying to do an AND search or an OR search?

Only use filterProperties if you want the search to check for the search text in ALL properties..

For example,
if you have an object such as the following

[code]

if you were to supply filterProperties: ['name', 'text'] and your search input was 'rebel', you would get no results.  This is because the angular filter would check for

[2015-06-28 03:27] rebelholic commented on #12
@djett41 Thanks for explanation. So AND search have same method with OR search?

[2015-06-28 03:55] djett41 commented on #12
the filterProperties option in ionic-filter-bar is just for the AND search.  If you want an OR search, then dont use filterProperties

[2015-06-28 16:05] rebelholic commented on #12
@djett41 How I can change colour "cancel" text to assertive?

[2015-06-28 22:34] djett41 commented on #12
you will need to override the sass or css for that button.  the css class for the button is .filter-bar-cancel so you should be able to use that to override the color if you need to in sass or css.

I am going to close this issue since we figured out the issue you were having.  thanks again!

[2015-06-28 22:34] #12 closed

[2015-06-29 02:05] rebelholic commented on #12
No problem. Thanks a lot for your help

[2015-07-08 18:24] romanrast opened #13 "Search input need double press"
To enter a search string I need to double press into the input field. After the second click into the input field the keyboard is shown and the input field is focused. Does anyone else see this too? (running on iOS 8.4)

[2015-07-08 21:25] gigocabrera commented on #13
I noticed the same behavior. But maybe an auto-focus functionality would be a better solution, saving one (possibly two) taps/clicks.

[2015-07-08 22:03] djett41 commented on #13
Interesting, so if I understand you correctly, when you click the search icon, and the filter bar slides in, the keyboard isnt automatically coming up?  On my app the input is autofocused and the keyboard/filter-bar slide in at the exact same time.  I have an iphone 6 still on ios 8.1.1 though.

I can check it out and see what could be different.  @gigocabrera which device do you have?

[2015-07-08 22:32] romanrast commented on #13
Exactly, by clicking on the search icon the keyboard doesnt come up. I'm using an iPhone 6 iOS 8.4. I see the same behavior on the xcode simulator.

[2015-07-08 22:41] djett41 commented on #13
Ok thanks.  I just ran on simulator using 8.2 and didnt see the same behavior, the keyboard came right up.  Same with android.  I'll upgrade to 8.4 a little later and check it out.  Also are you running the demo? Also can you check to see if this is present in chrome too via ionic serve?

By the way are you using the ionic keyboard plugin?  Not sure if it will make a difference for this issue, but

[2015-07-08 23:01] romanrast commented on #13
I tried it in chrome with ionic serve --lab, works fine the auto-focus catches (since we don't have a digital keyboard here).
I'm using the ionic keyboard plugin and I'm setting cordova.plugins.Keyboard.hideKeyboardAccessoryBar(false);
I also tried cordova.plugins.Keyboard.disableScroll(true); but this had no effect, also setting the AccessoryBar to false didn't change anything. Hope it's not my w

[2015-07-09 03:12] djett41 commented on #13
Ok great.  Sure try the demo with your Dev setup (in the mean time, you will need to add the ionic keyboard plugin and place those settings in a run block for the app.js I will add that stuff to the demo this weekend).  Let me know what you get, if youre still running into an issue and have a setup that I can replicate, I can find a fix this weekend.

Thanks!

[2015-07-09 05:25] jayagl opened #14 "Filter bar takes up the whole page width when sidemenu is visible"
When using ion-side-menu on a tablet and the side menu is visible using 'expose-aside-when' property, the filter bar takes up the whole width of the display instead of just the nav-bar.

![before](https://cloud.githubusercontent.com/assets/6834917/8588495/9383b276-264e-11e5-975e-bdb3d710e230.png)
![after](https://cloud.githubusercontent.com/assets/6834917/8588499/97e9402e-264e-11e5-8831-a31d53d493

[2015-07-10 15:51] djett41 commented on #14
Thanks @jayagl .  Yeah I have never tested this on tablet layout :-/

Is this a slide out side menu?  Or a static side menu??

For slide in/out side menus, I would imagine that the search icon should be disabled if the side menu is slid out, and only when the side menu is in..

However for layouts that use a static side menu then perhaps you could override the width on the ionic-filter-bar contain

[2015-07-10 19:49] gigocabrera commented on #13
Hi @djett41 I am using iOS 8.4 and I have a setup that you can use to test this issue. Open Ionic View and open Preview Shared App. Enter App ID 97f24c2e. This will load MoneyLeash on your phone. The login credentials are included and hard coded (still as a prototype). Once logged in, on the left menu select Accounts --> 1Personal and you should see the search icon at the top on the header.
The pr

[2015-07-10 19:54] gigocabrera commented on #13
@djett41 by the way, we met before. Thanks again for your help!!!
http://forum.ionicframework.com/t/swipe-in-ion-list-not-working-like-ios-swipe-feature/20903

[2015-07-13 12:21] olasfar opened #15 "The Keyboard + The bar disappear instantly when a button to activate the filter bar"
Hi guys,

I'm facing some issues recently with this module on a real device (Iphone ios 8), when I click on the button to activate the filter bar, the bar + the keyboard appear and disappear instantly.

Any idea what can be the issue ?

Thx in advance?

[2015-07-13 12:36] djett41 commented on #13
Thanks buddy! @gigocabrera Sorry I did an upgrade to cordova 5 over the weekend and hosed my environment :-( finally back up and running so I can look at this either today or tomorrow.  Thanks for providing the detailed info!

[2015-07-13 12:38] djett41 commented on #15
Thanks @olasfar do you have any code or directives that may be blurring inputs or calling blur() ?

[2015-07-13 12:42] olasfar commented on #15
Thanks @djett41 for your reactivity :) Nope, I'm not blurring, it's a random bug (kind of race condition), sometimes it works, sometimes it doesn't.. I just tried on my iphone and now it works witch is weird.

[2015-07-13 12:47] djett41 commented on #15
Interesting!  Any way you can post the code in a separate github project or on codepen?  It would be alot easier for me to see what may be conflicting with it.  Thanks!

[2015-07-13 16:49] romanrast commented on #13
@gigocabrera I tried your app over ionic view. The search input needs double tap there aswell. Tested on iOS8.4 iPhone6

[2015-07-14 14:38] gigocabrera commented on #13
@romanrast that's great news. At least the issue is consistent.

[2015-07-14 19:45] olasfar commented on #15
I think the issue comes with ionic#v1.0.1, I'll keep you updated.

[2015-07-15 14:56] julestruong opened #17 "Miss : provide a way to close the search bar"
I may have missed something but in my case i clearly need to close the search-bar anytime i want.

[2015-07-15 15:50] djett41 commented on #17
Thanks @julestruong .  Are you speaking of closing it via code programmatically?  Or functionally on device?

On device for ios, you can click the cancel button, or click/swipe the backdrop.  On android you click the back button.

In your controller code, when you call  $ionicFilterBar.show(options), you can assign the result to variable, which is a function to cancel.  See filterBarInstance in th

[2015-07-15 15:58] djett41 commented on #15
Great thanks!  I'll look at this soon as well

[2015-07-15 15:59] djett41 commented on #13
Thanks guys, will look into this soon!

[2015-07-15 16:05] gigocabrera commented on #13
New discovery. After changing the transactions view from collection-repeat to ng-repeat (testing performance) I got the search to automatically auto-focus with only one tap. I saw it happened twice but unfortunately it went back to 2 taps and no auto-focus. Not sure if this helps.

[2015-07-15 16:47] djett41 commented on #13
@romanrast @gigocabrera what ionic UI version are you guys using?

[2015-07-15 16:58] romanrast commented on #13
I'll have a look. I think it's the latest version vanadium vaquita 1.0.1

[2015-07-15 17:55] gigocabrera commented on #13
My ionic info shows this:
Cordova CLI: 5.1.1
Ionic CLI Version: 1.6.1
Ionic App Lib Version: 0.3.3
Node Version: v0.12.7
and vanadium vaquita v1.0.1

[2015-07-16 02:09] djett41 commented on #13
Ok So I
1. Changed the demo to 1.0.1 ionic ui version
2. Downloaded @gigocabrera code, ran on ios emulator
3. Downladed @gigocabrera 's app via Ionic View

And all of them autofocused haha..

Since my iphone 6 is still on ios 8.1, and my macbook pro is kinda old and still on Mavericks with Xcode 6.2 (app gets built with 8.2 sdk), I'm guessing that this is related to ios 8.4, which means I will nee

[2015-07-16 03:33] djett41 commented on #13
@gigocabrera I updated my iPhone6 and I cna finally replicate it on your app on Ionic View.  I used my app as well but mine filter bar autofocuses, so I'm thinking it may be something in the code that may be conflicting.  In order for me to mess with it I'm going to have to upgrade my OS to Yosemite and upgrade to Xcode 6.4 which will be in the next day or so.

In the meantime, Can you try removin

[2015-07-16 07:50] julestruong commented on #17
I meant programmatically speaking and didnt know about the cancel returned function. That's great !

[2015-07-16 07:50] #17 closed

[2015-07-16 18:43] gigocabrera commented on #13
@djett41 I removed all the filters and the issue persists in Ionic View. I went from

[code]

to

[code]

On a separate note, you mentioned

Where can I learn how to filter in the controller? For example, how can I 'reverse' the list of transactions so they show the must recent at the top without having the use the reverselist filter in HTML as I'm doing now?

[2015-07-18 00:45] djett41 commented on #13
Cool I'm updating my MAC overnight so I can play with it this weekend.  As far as the filters, this is a good read that explains how the digest loop affects DOM filters.  You can even do a self check by just adding a console log in your filter and watch how many times it gets called.  You will notice tht it gets called alot more times than you would expect.

https://www.binpress.com/tutorial/speed

[2015-07-18 02:01] djett41 commented on #13
@gigocabrera add the following to your config.xml.  If this works I'll update the docs but this preference allows .focus() to bring up the keyboard which is what the plugin does.  Perhaps something changed in ios as of 8.4 in which this is required.  I have had this in my app for a while.  Hope this works!

[code]

https://cordova.apache.org/docs/en/5.1.1/guide_platforms_ios_config.md.html

[2015-07-18 03:14] gigocabrera commented on #13
@djett41 I added the preference to the config.xml in the root folder of my app and that didn't work. Then I added the same to the config.xml under 'moneyleash\platforms\ios\MoneyLeash' and that didn't work either. HOWEVER, if I play with the search for a while, tapping various parts of the screen and then the search, I get it to work half the time. I haven't figure out exactly what pattern makes i

[2015-07-18 03:35] djett41 commented on #13
@gigocabrera Im starting to think this is an issue related to Ionic View.  I just uploaded this plugin to the Ionic Marketplace and made an Ionic View app with id ab56e8bd and not only is the autofocus not working, but the keyboard accessory bar is not hidden when I'm now hiding it!  On emulator works fine, unfortunately I need to wait until I update my OS to run on my phone again since new Xcode

[2015-07-18 17:07] arbh89 opened #18 "How to use it with promise?"
How can i use this awesome filter bar from a promise?

[2015-07-18 17:49] djett41 commented on #18
Thanks @arbh89 .  Since I'm returning a function that you can use to manually cancel, the filter bar does not return a promise.  However you can pass in callbacks when the filterBar is finished showing, or removed.

See the docs for more info but assigning a function to the "done" property will run your odne function when the filterBar is shown, adding to "cancel" will be called when the filterbar

[2015-07-18 18:29] gigocabrera commented on #13
@djett41 I tried your app on my iPhone and I get the same result. As you mentioned, it is probably related to the Ionic View. Btw, I also tried changing the status bar to white and could not get it to work. I even tried modifying the iOS files under platform directly to no avail, so there's definitely something going on with the ionic view.

Should we reach out to the Ionic Team?

[2015-07-18 22:59] arbh89 commented on #18
Thanks @djett41, this is my scenario, i want to populate a list from a promise using the filter bar, this means that i don't have initial items to filter, how can i achieve this? if you have an example would be better.

[2015-07-19 04:05] djett41 commented on #18
Its hard to understand what exactly you want to accomplish without seeing your controller code, but you could

A) get all of your list data when your view initializes in your controller so when you click the search button you will already have the items to filter on
B) If you HAVE to get data async on click, then just wait until you resolve your data to show the filter bar, but this probably would

[2015-07-19 04:34] djett41 commented on #15
@olasfar are you still seeing an issue?  Or can this be closed?

[2015-07-19 08:00] #14 closed

[2015-07-19 08:54] djett41 commented on #14
@jayagl I added a container property that you can use to fix this issue.  As the README now shows, set container to '.menu-content' which will make sure the filter bar is only appended to the content section of your ionic side menu!

Thanks again!

[2015-07-19 09:13] djett41 commented on #13
@gigocabrera it doesn't look like the status bar plugin is supported by Ionic View so I'm not worried about that one.  However the Keyboard plugin is supposed to be supported so I put in an issue [here](https://github.com/driftyco/ionic-view-issues/issues/125) for Ionic View .  I am going to close this issue since it's related to Ionic View, but I'll reopen if anything else comes up that may be th

[2015-07-19 09:13] #13 closed

[2015-07-19 12:49] olasfar commented on #15
@djett41 I'm still seeing it, it happens only on a real device (I'm using Iphone 5), I should click 3 to 4 times on the button to see the filter bar, otherwise I don't have any JS error on console or on my Sentry report. Please advice. Any ionic option that can cause this ?
FYI I'm using ionic#1.0.0 & ionic-filter-bar#v1.0.3

[2015-07-19 15:40] djett41 commented on #15
Any way you can post the code for your HTML and controller? Also do you have any keyboard settings in your config.xml?

[2015-07-20 05:08] jayagl commented on #14
Thanks @djett41! Nice solution. It works like a charm :)

[2015-07-20 08:34] djett41 commented on #14
no prob @jayagl thanks for contributing!

[2015-07-22 08:33] #18 closed

[2015-07-23 01:49] wardleinc opened #20 "[String] filterProperties - Multiple properties"
Hi there,

I'm not sure if this is included in the release but is it possible to search through multiple properties, whereby the 'search string' can match one Filter Property out of an array of multiple Filter Properties and display the results, rather than the 'search string' having to match all filter properties.

Thanks

[2015-07-23 01:59] #20 closed

[2015-07-25 13:54] djett41 commented on #20
No prob!!!

[2015-07-27 04:38] frazras opened #21 "Custom Filter"
I was using the regular search bar to filter but instead of the regular:
[code]
I created a custom filter that ignores punctuations when searching:
[code]
However this module only supports a simple filter like the first one listed above.
Would it be possible to create a custom filter?

Here is an example of my filter:
[code]

[2015-07-27 04:49] djett41 commented on #21
Rohan,

Thanks!  This plugin supports custom filters, you just need to inject your filter into your controller, then pass it to the "filter" option.  see docs for an example

[2015-07-27 05:41] frazras commented on #21
Perfect, it works flawlessly!

[2015-07-27 05:41] #21 closed

[2015-07-27 06:49] djett41 commented on #21
Awesome!

[2015-07-29 19:15] EricDosReis opened #22 "How to set my custom bar style?"
Hey, thanks for build this very useful component! Now I need your help.

I have this code:

[code]

And I want to set my own bar style.

[2015-07-29 20:13] djett41 commented on #22
@EricDosReis check out the docs.  You need to either
- Import the scss file if your using SASS like the demo.
- Or if not using SASS, import the CSS file in your index.html and override the styles like you would any other CSS

[2015-07-29 21:18] EricDosReis commented on #22
Yes, works fine.

Thanks!

[2015-07-29 21:18] #22 closed

[2015-07-30 15:35] EricDosReis opened #23 "filterProperties example"
I'm trying to set filtering properties of my object, but it's not working. This is my code:

- Array of objects
[code]

- Filter bar function
[code]

What are I doing wrong?
Can you give me an example?

[2015-07-30 20:10] ingopansa opened #24 "Access to filter string"
Hi,

I'm wondering if/how it is possible to access the filter string. Maybe I missed something, but I did not find an option to operate on the filter string.

In particular, I want to switch views, depending on the size of the filter string. For instance, if the length of the filter string is zero, I need to display a trending searches view.

Ingo

[2015-07-30 20:42] EricDosReis commented on #23
I was reading some closed issues and I find my answer on a comment you made.

Link: https://github.com/djett41/ionic-filter-bar/issues/12

"if you were to supply filterProperties: ['name', 'text'] and your search input was 'rebel', you would get no results. This is because the angular filter would check for the text on ALL properties."

Filter all properties is so good, because I provide to the us

[2015-07-30 20:42] #23 closed

[2015-07-31 03:13] djett41 commented on #24
You didn't miss anything @ingopansa.  Where would you need it?  The only place I could pass it that would make sense is in the update callback..

so `update` could have two arguments pssed both the filtered items, and the filterText.

Would that give you what you need? I don't see anywhere else where it would make sense passing it to, and since ionicFilterBar has an isolate scope, you wouldnt be a

[2015-07-31 03:15] djett41 commented on #15
I'm going to go ahead and close this, but if you can provide a codepen or github repo I can replicate the issue on then I'll be happy to reopen and take a look.

[2015-07-31 03:15] #15 closed

[2015-07-31 03:21] djett41 commented on #23
no prob @EricDosReis .  There have been quite a few questions relating to this topic, which is an indicator that my documentation is not good enough.  I just re-read it and I'll admit it's kind of confusing haha.

I'll update the DOCS, but the filter properties basically creates a filter expression object with each item in the array and has default angular filter functionality...

But since it see

[2015-07-31 06:07] jayagl opened #25 "Support for custom filter function"
Hi. Thanks for your work. It has been very useful. This is not really an issue but I think there should be a way to supply a custom filter function, which gets called with the arguments `filterText, item, index, array` and returns true if item passes.
It would be easy to do. If `filterProperties` is a function then bind `filterText` as an argument and pass it to angular filter. Something like this

[2015-07-31 06:28] djett41 commented on #25
thanks @jayagl .  I have been giving this some thought over the last few days and I am thinking that instead of having a filterProperties option, which dynamically creates the filterExpression but is kind of limited, I may just add filterExpression, and comparator as options, and in the scope.filterItems function always call scope.filter(scope.items, scope.filterExpression, scope.comparator); or s

[2015-07-31 06:47] jayagl commented on #25
Not sure I understand. If you directly pass the comparator and filterExpression then how does one reference the filterText? Are you going to parametrize it? In which case you would be kind of doing what you are doing now.

[2015-07-31 13:34] ingopansa commented on #24
Putting it in the update call would definitely make sense, as this function gets called when the search results are being updated. Separating it from the update callback and having a separate option for it would make sense for the use cases where you need to know the search string independently from updating the search results.

So, I would say: It depends on where you want to have it :)

For me,

[2015-07-31 20:48] ingopansa opened #26 "Pre-load filter text & save search result states"
Any plans yet for pre-loading a filter text (1) and saving the state of search result (2) [(2) could actually be implemented through (1)).

Motivation: In order to provide a convenient entry point for user's to use the search functionality, an app may provide a list of trending searches, that, if picked by a user, preloads the search filter. This my be an addition to my other issue (#24) and could

[2015-08-02 05:34] djett41 commented on #25
You're right @jayagl that doesnt make sense now that I think about it.  Let me give it some thought and try to come up with a solution that might suit everyones needs including the solution you have suggested supporting function expressions

[2015-08-03 08:01] jayagl commented on #25
Cool, no worries. I think you can achieve full flexibility as far as the angular filter function goes by using the above approach for function expressions and then allowing a comparator function to be specified as an option and passing that on to filter().

[2015-08-03 16:57] ryanyakich opened #27 "$ionicFilterBar.hide() maybe?"
Essentially, I have a list of products and a shopping cart. Each has its own UI state. And each view is collection-repeat.

When viewing products and using $ionicFilterBar it works as expected. However, when clicking an item, it adds the product to the shopping cart and the redirects to shopping cart. When redirecting I get an error in the products collection repeat - it seems be closing the $ioni

[2015-08-04 14:02] ryanyakich commented on #27
So, I realized if you do...

[code]

I can later call `filterBarInstance()` to "cancel" the filter-bar.

It still doesn't like switching between states unless until the filter-bar has been completely removed... which ends up with a delay before changing states...

This is definitely only an issue with collection-repeat...

Anyway, thank you for great work!

[2015-08-05 16:14] djett41 commented on #27
Thanks @ryanyakich !  The filter bar is configured to cancel on stateChangeSuccess so I would think it would cancel after the state change has already taken place.  Are you not seeing this behavior?  Do you have a codepen or example I can use to replicate what you are seeing?

Thanks!

[2015-08-05 16:16] djett41 commented on #26
@ingopansa I want to think a little more on the preloading , but I do have plans to implement a saved search feature in the near future!! The idea is that you can access your last 10 searches

[2015-08-05 16:17] djett41 commented on #25
I think you're right @jayagl . That should be sufficient, I would like to also add an OR search functionality using the filterProperties

[2015-08-05 16:18] djett41 commented on #24
Yeah I think update is where I am going to pass it back to

[2015-08-06 14:38] booris opened #28 "Some lag in opening the bar on some devices because of input focus."
Hi,
First let me say I like your component and you did a great job. I'm trying to write some component's like you, and yours is a good starting point to improve.

The issue, in some devices the animation of the bar entering is laggy because of the focus  happening when the bar is animating,
I've put an timeout in the focus to let the animation finish before it focus the input, and feels much bette

[2015-08-07 02:33] djett41 commented on #28
Thanks @booris !! Are you seeing a lag on the actual device or emulator?  The iOS emulator often has a lag because of the lag with the keyboard, but I haven't really seen a lag on device?  Any way you could post a video on it?  I just want to see where and when it lags so I can look into making it better.

Thanks!!

[2015-08-10 11:59] ryanyakich commented on #27
Sorry for the delay.

http://codepen.io/anon/pen/GJzvGQ http://codepen.io/anon/pen/GJzvGQ

View the log when you add an item from the filtered data…

[2015-08-12 10:08] pateltejasmca commented on #28
I am also facing the same issue in my moto g1.

[2015-08-12 10:08] pateltejasmca commented on #28
@djett41 Thanks for your work. Its very helpful for me

[2015-08-12 15:01] cagica commented on #28
Sorry,  I'm on vacation when I come back,  I will try to show you the lag. @pateltejasmca you can put a timeout of 280 milliseconds around the input call on the code.  And it will be fine. Try it.

[2015-08-12 15:06] cagica commented on #28
Focus call.  In the function show keyboard,  you can put a timeout around the focus & &  focus()

[2015-08-20 00:06] djett41 commented on #28
thanks guys!  I started a new job and have been swamed but ill take a look. Only thing about calling timeout on the input is that the keyboard wont come up at the same time as the filter bar.. which is not what we want on ios.  Is this the case for android?  Or does your solution bring the keyboard up at the same time as the filter bar animates in @booris ?  I'll play with it sometime this week

[2015-08-22 04:00] #25 closed

[2015-08-22 05:02] djett41 commented on #24
This has been added!  Thanks agin!

[2015-08-22 05:02] #24 closed

[2015-08-24 10:16] cagica commented on #28
In the best case we want the keyboard opening at the same time as the filter bar, that is true. But in some smartphones (weaker ones) the animation of the filter bar entering has lag because the keyboard is opening at the same time, and it's worst than opening the keyboard a little bit latter.  Instead of changing your directive you can simple add an atribute that allow users to choose if the keyb

[2015-08-24 15:08] cagica commented on #28
I made two videos, one you can see the lag, and the other it has the timeout. The diference in opening the keyboard is small. http://we.tl/S4iCL7oWG9

[2015-08-25 10:59] ingopansa commented on #24
thanks - will test it out the next days and provide feedback.

ip

[2015-08-25 11:16] efikarra opened #31 "Filter on nested properties"
Hello,

i have an array of objects and each one has some nested objects. I would like to filter on nested properties but filtering using filterExpression seems to filter only on first level properties. I would like to do something like that : filterExpression : "nestedObject.property" but it does not work!
Is that possible;

Thanks!

[2015-08-25 20:44] djett41 commented on #31
@efikarra Make sure you are passing your expression in an `expression` propert rather than `filterExpression`.  If that's not your issue, take a look at the filter [docs](https://docs.angularjs.org/api/ng/filter/filter) which goes over nested objects in expressions and double check that you are passing in the correct expression.

 I'm just delegating to angulars filter logic when expression is pas

[2015-08-26 00:08] efikarra commented on #31
My issue with expression property is that every expression that i have seen so far in the docs, seems to require the filterText. For example an expression for my case could be {nestedObject: {property: filterText}} which i checked that works as expected when i used a fixed string instead of filterText.
 However, i cannot find how to access the filterText in expression property!

[2015-08-28 05:28] djett41 commented on #31
Upgrade to the new version 1.0.6, filterText has been added to the expression function as the first argument.  See the unit test as an example!  Thanks!

[2015-08-28 05:28] #31 closed

[2015-08-28 05:37] djett41 commented on #28
@booris you might want to try overriding the animation delay in the scss/css file as well.

[2015-08-28 17:43] efikarra commented on #31
It works perfectly, thanks a lot!

[2015-08-28 18:02] kumaro opened #33 "Filtering"
Thanks for the awesome plugin. I have a question about filtering.
Current filter matches All properties defined in filterProperties. Any idea how to set up for any property match?

[2015-08-28 18:13] kumaro commented on #33
Found my answer in Issue:12
Or works by default . filter Properties is for And. Thanks again!

[2015-08-28 18:14] #33 closed

[2015-08-28 21:26] djett41 commented on #33
cool no prob!  If you need OR functionality, you can use the expression function option.  See docs/tests for more info!  Thanks again!

[2015-08-28 21:27] djett41 commented on #33
oops just reread and you were looking for ALL which as you pointed out is the default (no filter properties) Thanks again!

[2015-08-28 21:42] filoozom opened #34 "Make a search bar - Not only filter given items"
Hello,

I'm currently using your plugin for an Ionic project, and I really like it!
I'm using your plugin to filter a given set of items, but now I'd like to perform a search on a database.

For now, I'm using something like this:
[code]

So basically I'm displaying all future events on my page, but do a search on all events, and when the filter bar is canceled I just put my old list of events bac

[2015-08-28 22:37] filoozom commented on #34
Would something like #35 work?

[2015-08-30 16:20] verdi327 opened #36 "How to Filter Items Properly"
Do I have to structure my objects in any particular way for the filtering to work?  I have an array of players.  Each player looks like:

`{first_name: "john", last_name: "smith"}`

My code looks like...

[code]

But, I am getting no results back when I start typing a name that exists in my list.  Any tips?

[2015-08-30 16:40] djett41 commented on #36
@verdi327 Take a look at the docs for filterProperties in the README.  filterProperties creates an AND expression.  If you need to filter on first_name OR last_name, then don't include filterProperties.

[2015-08-31 03:37] verdi327 commented on #36
Ah, that makes sense now.  I got it working.

[2015-08-31 03:37] #36 closed

[2015-09-02 09:40] 5amfung commented on #34
I also have a similar requirement to do search by calling a backend api instead of filtering items from an array.  But I don't know how #35 would work because search results don't necessarily come back immediately.  Search should take a callback or return a promise in my opinion.

[2015-09-02 23:21] EricDosReis commented on #31
@efikarra can you show your code? I'm have the same issue, but I don't understand how implement this solution.

[2015-09-03 14:17] vcalvello opened #37 "expression function is not receiving filterText param as in docs"

[2015-09-03 16:15] djett41 commented on #37
Can you post the code you are using in your call to filterBar?  If you take a look at the unit test, the following expression returns the filterText as the first arg.  I just doubled checked and verified that its returning.

[code]

[2015-09-03 17:55] efikarra commented on #31
let's say that you have the list:  $scope.items= [{subItem: {description: } }, {subItem: {description: } },...] and you want to filter on nested property description which is a string. Then the code is:

[code]

[2015-09-03 18:22] vcalvello commented on #37
[code]

and the console output

[code]

[2015-09-03 18:55] EricDosReis commented on #31
Thanks @efikarra for answer my question, but in my case I have a list of categories objects with a list of products objects inside. And we already found a solution, look the code:

[code]

[code]

[2015-09-03 19:47] djett41 commented on #31
@EricDosReis if you add an expression, the expression will be invoked for every item in the items you send.  Then when you return true from the expression, the item gets added to the list of filtered items..

You will need to do one of the following, either add an expression for your filter logic, or add a custom filter and pass that in.

[2015-09-05 06:59] djett41 commented on #37
@vcalvello I am not able to see what your seeing.. when I add the exact same expression to the demo app in this repo, I get the following log for arguments when searching for "my search"

[code]

Are you on the latest version?  Pull down the demo, verify that you see what I'm seeing, then either try to see what the difference between your version and the demo version, or see if you can put a codep

[2015-09-06 17:58] djett41 opened #38 "(feat) Favorites"
Store favorite search terms in local storage in which a user can add, remove, and reorder.  clicking on the search term will filter the items with that search term

[2015-09-06 18:03] #38 closed

[2015-09-06 18:25] djett41 opened #40 "(enhancement) remove wrapping of jqlite elements and just use DOM"
since we get a jqLite wrapped element back from compiling the directive its ok to use that to perform jqLite operations, however there is no need to wrap other elements in angular.element since we cn just use DOM (body, scroll container, container)

[2015-09-06 19:21] #40 closed

[2015-09-06 20:55] djett41 opened #42 "Keyboard on device causing issues with favorites modal"
A few issues with the new favorites feature I have noticed

- When clicking the favorites icon, the filter bar will not lose focus (or maybe regains) even after calling input.blur(), or trying ionic.DomUtil.blurAll().  Not sure why but it won't lose focus which causes the modal to look nasty.
- The modal header is pushed out of the screen when the modal comes up.  Also the keyboard from filterbar

[2015-09-08 14:24] vcalvello commented on #37
@djett41 Seems to be something with the published component version. Everything fine using the repo src

[2015-09-10 07:22] RameshJhajharia commented on #28
@djett41 Thanks for the amazing work.
@booris I am also facing same issue. Did you find any solution for this?

[2015-09-10 14:57] cagica commented on #28
@RameshJhajharia You can see my pull request and see what I did

[2015-09-11 12:27] wardleinc opened #46 "Issue with non-clickable search bar when used in ionic modal"
I'm using the filter bar in a ionic modal to filter through a collection-repeat list of items.

The search bar can be clicked initially and shows as usual but both input and cancel button cannot be clicked.

Any ideas?

Thanks

[2015-09-11 12:33] wardleinc commented on #46
The ion-filter-bar is placed outside the Modal backdrop & Modal wrapper div tags, making it not a part of the modal itself.

[2015-09-11 12:41] wardleinc commented on #46
Ah... Apologies... I was looking for how to append to a different container and you've already done that ;) Awesome

[2015-09-11 12:41] #46 closed

[2015-09-12 16:42] djett41 commented on #37
@vcalvello Which version are you on?  I tried both the unminified and minified dist but am seeing the correct behavior.  Perhaps there was an issue with a previous version?  Can you verify you're on the latest version?  If you are still seeing the issue, If you can put together a codepen that I can replicate the issue I can look into it thanks!!

[2015-09-29 21:33] EricDosReis opened #49 "There is a bug when using ionic filter bar inside a modal."
Filter bar inside a modal doesn't close automatically when I click out or in cancel button.

[2015-10-02 06:37] dheerajvs opened #50 "Publish to npm"
Publish ionic-filter-bar to npm so that it can be require'd by those who use browserify.

[2015-10-05 15:12] bksantiago opened #51 "Add attr 'id' in the actual <input>"
I think it's a bit simple and optional for users. I think it's best to have this feature.
Just a new method in $ionicFilterBarConfig.id()

Thanks

[2015-10-05 15:42] bksantiago commented on #51
Or simple how can i get current <input> or current text on type.

[2015-10-08 05:59] Murthy582 commented on #49
Agree with @EricDosReis, though filter bar appearing on the screen, not able to interact with it like tapping on text box or cancel button. My modal has a close button on its header, I'm able to close the modal using that button though the filter bar overriden the modal header bar.

[2015-10-08 08:46] kianliang-iium opened #52 "Ionic header bar is pushed down in android"
Thank you for the great plugin. However I have problem with android header bar being pushed down when input appears. By the way, it works perfectly in iOS.

<img width="377" alt="ios" src="https://cloud.githubusercontent.com/assets/13483690/10361585/a3e4f3a8-6ddb-11e5-906c-970ea7d0027d.png">
Works perfectly in iOS! The header is under the search bar.

<img width="379" alt="android" src="https://cl

[2015-10-11 12:32] jrub commented on #31
Hi there, as an angular newbie I have found somewhat difficult to make search work with nested properties (solved it thanks to this issue). I think it would be great to have `filterProperties` work with nested properties, because it seems a natural way to use it.

If this is not possible right away, would be nice to have this at least mentioned on the `filterProperties` usage paragraph into the re

[2015-10-12 08:06] djett41 commented on #51
Whats your use case for id?  Just for selecting? If so then you can use the filter-bar-search class.  Thanks!

[2015-10-12 08:07] djett41 commented on #50
Thanks!  I will try to get to this at some point, just been pretty busy.

[2015-10-12 08:09] djett41 commented on #49
Do you have a codepen or demo of this?  I'm not must not be visualizing your scenario correctly, but I'm using it in a modal and the filter bar covers my header which has my close button.  So I have to close the filter bar before I can close the modal.

Are you guys seeing different?  Thanks

[2015-10-12 08:11] djett41 commented on #52
Do you have a codepen of your HTML setup?  If so I can take a look.  Thanks!

[2015-10-12 20:06] EricDosReis commented on #49
I captured a demo of my app. See bellow

Filter bar in a simple view close normaly:

![works-fine](https://cloud.githubusercontent.com/assets/6003424/10437375/f49bc5ae-7102-11e5-95a4-5ec321229cad.gif)

and filter bar in a modal doesn't close:

![broke](https://cloud.githubusercontent.com/assets/6003424/10437391/1731c866-7103-11e5-8446-673039a11873.gif)

[2015-10-12 23:36] kianliang-iium commented on #52
I have managed to solved it by strictly using ion-header-bar in the ion-side-menu. This problem is caused by mixing ion-nav-view and ion-header-bar within the ion-side-menu

[2015-10-13 00:09] djett41 commented on #52
Nice sounds good!!!! Glad you could figure it out

[2015-10-13 00:09] #52 closed

[2015-10-15 08:01] ronyrun opened #53 "[Question]"
Hello,
Thank you for your amazing work !!

I would like to filter 2 datasSets at the same time.
How can I use ionic-filter-bar to impact 2 lists ?

Thank you
Ron

[2015-11-05 13:12] voznik commented on #26
it will be great to return from searched item view state to item's filtered list state with opened filter bar.
for now with `cancelOnStateChange: false` filter bar stays on item view state and closes on back button.
any idea how can implement such functionality?

[2015-11-06 20:00] ekaram commented on #28
+1

[2015-11-08 15:24] TechGuyVN opened #54 "My Searchbar show Web control and not filter by text"
Hi Djett

Thanks for supporting
My Searchbar is showing but i have 3 problem:
* My filter list not show when type text in searchbar, i have debug have text in filter input & have items list object ... but list filter not show
* I can't include $ionicFilterBarConfigProvider in app.js, it show error not found, but my searchbar can show, and i have import js/css like your guide.

Please help me solve

[2015-11-09 16:55] Carniatto opened #55 "Search text with translation"
I was trying to make the 'Search' text to be translated using __angular-translate__ but with the __Ionic-filter-bar__ is only possible to change this text in the app.config() phase (requires access to the provider) but in this stage the '$filter' and '$translate' are not available yet.

Do you have any idea how to address this ?

[2015-11-10 20:41] TalitaEscher opened #56 "Disable autocapitalize"
Hi, I've been trying to disable the autocapitalize but the only way I know is the 'autocapitalize="off"', inside the input.
Do you have any suggestion of how can we deal with this?

Thanks!

[2015-11-10 21:47] makeitrein opened #57 "Is it possible to set a default value to filterText when opening the search bar?"
My list of items has hash tags (e.g. #openIssue, #needsAssistance, #urgent) that, when clicked, filter the list of items.

After clicking a hash tag, can I open the search bar with that hash tag as the filterText? Or modify the filterText if someone clicks a hashtag in the middle of another search?

Many thx for this awesome module,
Jordan

[2015-11-11 11:46] TechGuyVN commented on #54
I able to done all issued, just custom your script & style in my way.
Thanks for awsome filter bar!

[2015-11-11 11:46] #54 closed

[2015-11-15 17:50] constantinoantunes commented on #13
Hi,
I was having the same issue romanrast refers in the first comment. The problem was happening on iOS versions 6 and 9. What ended up working for me was moving the KeyboardDisplayRequiresUserAction preference to the config.xml root.

[2015-11-17 11:18] balicekt commented on #26
hey I would also need this functionality cancelOnStateChange: false any ideas how to make it? Thank you

[2015-11-20 14:16] svzi commented on #26
Any news on this topic? I would really appreciate the possibility to come back from a details view and have the search bar still opened with the last text entered.

[2015-11-24 16:05] flagsoft opened #59 "Set filter programmatically? How?"
Is it possible right now to set the filter via programming?

Is know there is a "filterText" which gives my the text entered char by char in the search text field.
But how can I set this programmatically?

-> For example, if I have a linke / button to push to set the filter to "test1"

User interface:
[code]

[code]

[2015-12-09 20:24] EricDosReis commented on #49
Yes! Resolved!

When the Ionic modal is open the pointer events are none, disabling any action in the body element

[code]

In my custom css file I put this rule

[code]

and works fine :)

[2015-12-09 20:24] #49 closed

[2015-12-16 15:09] triantafillos commented on #55
I have exactly the same problem. Can anyone help?

[2015-12-18 06:15] rashnk opened #60 "Filter bar covers modal header"
i want to open a modal when an item is clicked from the filtered list, it works fine, but the search bar is displayed on top of the modal' header, i cant see the buttons on modal view, is there any way to show modal header to the front so the search bar will be coverd

[2015-12-18 13:45] rkalis opened #61 "Accent-insensitive search"
With data that contains both spaces and accents, we ran into the following problem:
For example, if we have this in our database: "Tëst Dátà"
And search for "Test" or "Data", it will show "Tëst Dátà" (as was probably the user's intention).
However, if you search for "Test Data", it doesn't show "Tëst Dátà", so adding spaces to the query somehow messes with its accent-insensitivity. I'm assuming th

[2016-01-04 17:10] joelcdoyle opened #62 "Enhancement: Allow Placeholder Text and Theme to Be Defined On Show"
Is there currently any way to change the placeholder text when creating and instance of the filter bar? I have a need for two separate filter bars with different placeholder text and styling.

[code]

[2016-01-04 17:12] joelcdoyle commented on #62
This looks like a duplicate of https://github.com/djett41/ionic-filter-bar/issues/55

[2016-01-04 17:12] #62 closed

[2016-01-04 17:12] joelcdoyle commented on #55
I would also like to see this. I have a need for two separate filter bars with different placeholder text and styling.

[code]

[2016-01-06 13:55] ronyrun opened #63 "[Question] Where to add $ionicLoading when search process is ongoing ?"
Hello,

I have a very big list of items to filter, then it take very long to render.

[Question] Where to add $ionicLoading when search process is ongoing ?

thank you very much.

[2016-01-08 09:31] gsanjeevkumar opened #64 "search results best way"
I am using this but have a problem, hope you guys can help. Looks like you have not seen this.

1) after making it work on the browser (works fine) i built and ran it in the XCode Simulator, keyboard wont show up, used my computer keyboard and entered the search text, no results showup

2) installed on my iphone. keyboard come up with the search results wont show up.

let me know if there is a bet

[2016-01-09 14:26] kyoshiro2708 opened #65 "Filter on several attributes"
Hi,

I would like to know if it is possible to filter not only on 1 attribute, but on several like :

           filterProperties: ['title','description']  // This doesn't work

So, if one of the 2 attributes contains what's in the textFilter, then it's kept in the list.

Thank you & kind regards

[2016-01-12 08:13] MHDMAM opened #66 "Filter data from promise instead of array"
is there a way to get the items array from a promise function?

What i'm trying to do is get the `search term` from `ionFilterBar` and call my backend server to get the the array that i need to pass to `items` array.

Thanks

[2016-01-12 19:31] mattalco commented on #50
Seconded! Thanks!

[2016-01-12 21:07] gsanjeevkumar commented on #66
$scope.showFilterBar = function(){
      filterBarInstance = $ionicFilterBar.show({
        items: $scope.items,
        update: function (filteredItems, filterText) {

filterText is what you are looking for may be.

[2016-01-13 01:46] MHDMAM commented on #66
Update function `Called after the items are filtered` I don't think it would work.

Thanks anyway.

[2016-01-16 07:29] uzumakinaruto123 commented on #65
@kyoshiro2708  I am facing the problem ! Any lead ?

[2016-01-18 04:05] vcyang commented on #65
@kyoshiro2708
If I'm right, it seems that you misunderstand the usage of `filterProperties`.

So in your case, when you input 'abc',  items will be considered matched only when **BOTH** of `title` and `description` contains 'abc'.

If you want to filter items by more than one attribute, use the `comparator` instead of `filterProperties`.

[2016-01-18 09:27] vcyang commented on #55
@Carniatto @triantafillos
I have the same problem, the version of my  `$ionicFilterBar` is `1.1.1`. I solved it by modifying the source code.
Here is what I did.

In file `ionic.filter.bar.js`, modify the html code of `filterBarTemplate` in module `ionFilterBar`,  add 'translate' to the `placeholder="{{::config.placeholder}}`, which looks like: `placeholder="{{::config.placeholder | translate}}"`.

[2016-01-18 23:24] gsanjeevkumar commented on #66
I think the items will have to contain all the items to be filtered prior to, yes and then the update function will be have the filteredItems.

[2016-01-22 18:13] MatanYed opened #68 "Choose placeholder text in service options and not only in config"
I am using angular-translate, my Ionic app can change languages while running.
I need to change placeholder text dynamically.
Cancel text I can change without problem in service options, please add placeholder too...

[2016-01-28 03:54] ebruner opened #69 "opacity and translate3d() behavior..."
Can you help me understand what's going on here?
I have two copies of my app (one with ionic-filter-bar and one without).  In the app with ionic-filter-bar, when I click a list item  it transitions to the next state correctly.  When I click the back button, the app returns to the original state, but this time with the nav bar opacity=0 and translate3d with a large value.
Here is the before:
<div c

[2016-01-29 21:15] tiagoMaua opened #70 "Cursor input flick when show animate is start."
When run function $ionicFilterBar.show() the cursor is visible and blink with vertical animate.

 How can i disable focus while animation?

[2016-01-29 22:01] ghost commented on #70
Recommend adding $ timeout function var showKeyboard = function () {... in line 471.

  Like this:

[code]

This will make the input cursor be added after the animation.

[2016-01-29 22:31] RangerRick opened #71 "close keyboard when the user hits "return""
It would be nice if the keyboard closed after the user hits return.  I believe if you put it in <form> tags and give it an ng-submit= that calls the closeKeyboard() function, it would work.

[2016-02-01 17:43] gkucsko opened #72 "Optionally disable filter functionality"
hi, great plugin thanks. is there a simple way to use the plugin just for the header input field animation, rather than the full angular filter functionality? it would be nice since ionic currently doesn't offer a good native experience for a slide-open search input field. thanks!

[2016-02-02 16:23] panasandu commented on #71
+1

[2016-02-05 21:14] ajp8164 opened #73 "Ionic side menu example"
Really like this component but I'm having a difficult time getting it to work in a side menu.  Could you please create a simple codepen to show how the filter bar can be used in the header of a side menu?  Thanks!

[2016-02-06 10:43] ezazwar1 opened #74 "Question Which method is called when ion filter bar closes"
Which method is called when ion filter bar closes

I am using ion scroll tabs and have used  the ion filterbar now that in each tab i have to filter results i have saved all the elements in one scope variable and distinct elemets for each tabs in distinct elements and when i am calling the ion filter i am searching the scope variable with all elements and in update function i am assigning distinct

[2016-02-12 10:01] jondeodat commented on #72
Interested too. Would be cool being able to handle completely the behavior on search event and bypass the whole filter thing. Useless for instance if you want to trigger a remote search.

[2016-02-12 10:03] jondeodat commented on #34
+1

[2016-02-18 19:26] #70 closed

[2016-02-24 12:00] yang-zhang-syd commented on #37
I can confirm this problem. The code in source is difference from latest release and using the source code everything works fine.

[2016-03-03 19:10] ikramsyakir opened #75 "How to get "items: " from this code?"
.controller('AdminreservationdataCtrl', function($stateParams, $scope, $state, Carservice, Locationservice, $ionicLoading, $ionicPopup, $ionicFilterBar) {

  $ionicLoading.show({
    template: 'Loading...'
  });

  $scope.bookings = []

  var Booking = Parse.Object.extend("Booking");
  var bookingQuery = new Parse.Query(Booking);
  bookingQuery.equalTo("isCompleted", false)
  bookingQuery.equalTo(

[2016-03-11 10:15] martinjbaker opened #76 "Requires back button to be pressed twice on Android to cancel"
I'm using the 1.0.4 version of the filter bar but downloaded SportScoop and see it there too.

On Android, if you tap the search button but then change your mind and press the back button, then the keyboard gets dismissed but the search bar remains. It takes another press of the back button to dismiss the search bar.

I know nothing about how Android back button events work so this may be out of y

[2016-03-14 04:15] kentongray opened #77 "Angular 2 support?"
Hey I love this lib and am porting over one of my apps to angular 2. Just seeing if you have any thoughts to angular 2 support? If I can find some time I'll probably end up doing it myself (with a pull request of course!).

[2016-03-14 14:18] rahulvaradharajan091 commented on #27
ionicfilter bar cancel button is working inside the $ionicFilterBar.show(). but i want it to be cancelled manually by me on certain successfull api response. how can i cancel the filter bar manually.. i have tried $ionicFilterBar.hide(),  cancelfilterbar but i cant cancel it. the error states hide and cancelfilterbar is not a function or not defined.Please Help

[2016-03-16 02:58] jeremie-olivier commented on #27
Same case for me @rahulvaradharajan091 . If you find a way let me know

[2016-04-06 14:29] CarlosRoig commented on #77
:+1: Please! Angular 2 Support!

[2016-04-09 20:07] kentongray commented on #77
@CarlosRoig FYI I was able to make this work with straight up ionic2 http://ionicframework.com/docs/v2/components/#toolbar-searchbar

[2016-04-11 09:37] casper123 opened #80 "Error: scope.filter is not a function"
Hi,
I'm using filter bar for on of my ionic project, however when I search an item, i get this error

[code]

This is my filter bar instance

[code]

[2016-04-18 11:02] wal-nadeem commented on #27
+1

[2016-04-27 08:38] donaldinou commented on #68
100% agreed

If you need a temporary "fix". I've done it like this:

[code]

[2016-04-27 08:42] donaldinou opened #82 "Add some listeners"
A filter bar like this is great but this will be awesome with some listener like "onshow" "onclose" etc...

[2016-05-01 14:42] nuruddinbadawi opened #83 "how i can disable cancel button from search bar"
I need to fix search bar and disable cancel button from bar, how ?

[2016-05-01 21:35] armenbadalyan commented on #28
I'm experiencing this as well on my Sony Xperia Z2 running Android 5.1. What's interesting the SportScoop app which is presumably using the same directive doesn't have any lag during animation on the same device.
@pcagica I've tried using your fix for this and although it does improve the animation when the input gains focus, there's still a lag when I cancel the filter bar and the keyboard slides

[2016-05-04 20:19] felipevlourenco commented on #71
I already have a solution for that.
Can I submit this fix?

[2016-05-16 09:53] Fr4ncx opened #84 "FilterBar height"
How i can change the Height of the filterBar ?
Thank you!

[2016-05-16 16:39] diegortorres10 commented on #55
Hello everyone!

I also needed some customization to my $ionicFilterBar. First if you need to configure a single placeholder for all views, you can add these lines configuration [reference](https://github.com/djett41/ionic-filter-bar#usage)

[code]

To set different placeholder for different views, you can do the following each initialization of  $ionicFilterBar:

[code]

Do not forget to include,

[2016-06-15 09:31] YaroslavG opened #85 "together with alphabet-scroll"
Hi guys,
it is possible to use this filter with alphabet scroll ?

[2016-06-17 14:09] cleberjsantos commented on #71
Hey @djett41 @felipevlourenco, we tested and its working fine, please could you generate a release with it? CC @RangerRick

[2016-06-20 13:31] Carniatto commented on #55
@vcyang can you make an pull request ? I'd like to use this as you described without having to hack the dependency

[2016-06-25 13:29] taileshrbamankar opened #86 "Filter Nested properties"
How to filter nested / key value pair properties

[2016-06-27 18:43] nolate opened #87 "Put filter bar into ionic sub header"
Is there an easy way to put filter bar into sub header?

[2016-08-23 18:10] yanmagale commented on #31
Thanks @jrub , your solution its works for my case.

[2016-08-23 19:31] yanmagale commented on #68
@donaldinou it works!

[2016-08-28 17:32] nueko opened #88 "Numeric Issue"
Hi, I have issue when provide numeric on the search bar specially zero based value, it won't filtered.

Thanks.

[2016-09-10 10:52] #83 closed

[2016-09-10 10:59] nuruddinbadawi opened #89 "disable cancel button in android"
how i can disble view this button in android becouse just appeare in android and in IOS view search icon any solution ?

`<button class="filter-bar-cancel button button-icon icon ion-android-arrow-back"></button>`

[2016-09-21 06:38] chiragandroid opened #90 "Searching in arrays of items, for items and filterProperties problem"
Nice plugin to search items from array.
but there are many problems when you are using in real projects
like my array structure is like this
` vm.comboitem = [ [{name:1}, {name:2}, {name:3}, ], [ {name:4}, {name:5}, {name:6}]`
now i want to search name from vm.menu, so i write code like this

`$ionicFilterBar.show({
				items: vm.comboitem,
				update: function (filteredItems) {
					vm.comboitem

[2016-10-03 11:25] izaguerreiro opened #91 "Search android with apperance iOS"
I'm using Ionic 2 and I wonder if there is a way to let the android filter with the appearance of iOS.
I tried to use the $ ionicFilterBarConfigProvider.backdrop, but it did not work.
Could help me, please?

[2016-10-03 13:32] fredericogg commented on #87
@nolate found a solution? I'm having the same problem...

[2016-10-04 11:37] nolate commented on #87
Hey @fredericogg!
I made my own directive instead of using ionic-filter-bar.
Way easier to use a custom filter and you can put it in the sub header but it can be part of the content also if you want to hide it after scrolling down.

[2016-10-09 02:42] MicroLord opened #92 "ios platform ,the button finish , not activate the search action"
![123](https://cloud.githubusercontent.com/assets/10664096/19217404/9994960e-8e0c-11e6-9fd2-291ce00378cb.png)

the return button is right , but the finish button seems to hide the keybord , can fix it ? let the finish button also sumbit the "return" event !

[2016-10-12 12:51] #90 closed

[2016-10-12 15:56] ehsanzs opened #93 "An option to autofocus into the text entry area"
In my App, when a User clicks on the button that displays the Search box, the text entry area is not auto-focused. Instead, the User has to manually press the text entry box in order for the keyboard to appear so that they could starting typing. Please refer to my screen-shot where the text entry area IS focused, after pressing the text entry area. While this is not the case when using a Simulator

[2016-10-20 14:51] Yessengerey commented on #69
I have a similar issue. My ion-view title gets truncated/clipped when I put two particular ion icon buttons in the nav-bar on the right side of the title.
I am looking into this issue and am trying to solver it. I believe the answer lies in CSS.

[2016-10-24 09:54] herudi opened #94 "How to enter search in input-text ?"
How to enter action in input-text like directive ngEnter.?

[2016-11-14 14:54] Disane87 opened #95 "Highlight searched text in result"
Is it possible to highlight the searched text in the results?

[2016-11-28 09:39] farukkaya commented on #13
@romanrast @djett41 How did you fix this error
I'm having the same problem, Could you help
APPID: 61a6461b

[2016-12-02 22:59] pdorney commented on #77
@kentongray Do you have an example available for getting this working?

[2016-12-02 23:01] kentongray commented on #77
@pdorney i do not have one handy but basically it was just hiding header content with *ngIf and replacing it with the toolbar. It isn't quite as nice as this project but for my needs I was able to hack it together

[2016-12-07 13:57] leiyuangui opened #96 "minimum search text"
It would be great if there is a configuration for minimum search text for the search field.

[2016-12-18 10:59] i3i2ain commented on #49
@EricDosReis awesome, your css fix saved me probably almost a day of struggling with that issue :)

[2016-12-23 08:12] iamsamwood opened #97 "Cordova 4, wkwebview keyboard auto focus broken"
This isn't an issue with ionic-filter-bar _per se_, but I do not know of a work around.

[2016-12-29 16:53] rodriguezmanu commented on #50
+1

[2017-02-03 16:16] kiranj91 commented on #60
I have the same problem. Did u find the solution??

[2017-02-14 15:39] douglasvinter commented on #55
@vcyang @diegortorres10 Was one of yours solutions merged?

Thanks

[2017-02-24 09:39] rashnk commented on #60
set z-index for the filter bar css

[2017-02-24 09:39] #60 closed

[2017-05-15 17:59] mobigaurav opened #100 "Ionic-filter-bar overlap with ionic-content"
I am using ionic version 1 for my project. I needed to implement a search bar , which filter's content populated on screen. I used this plugin 'https://github.com/djett41/ionic-filter-bar'. I am using filter-bar inside ionic modal, problem is when filter bar is shown it's overlapping with ion-content and when user enter any text inside filter bar it's not visible to user. Any help would be useful.

[2017-05-15 18:00] mobigaurav commented on #100
![unadjustednonraw_thumb_c1](https://cloud.githubusercontent.com/assets/8948442/26071628/beb93276-3976-11e7-8a6c-43b8e912beed.jpg)
![unadjustednonraw_thumb_c2](https://cloud.githubusercontent.com/assets/8948442/26071629/bebb327e-3976-11e7-8843-ad99d017ed7b.jpg)

[2017-05-15 18:00] mobigaurav commented on #100
Any help would be useful.

[2017-06-07 13:49] zarcode commented on #51
Even better, adding any custom attribute, would be good. For example I need to set spellcheck=false on input.

[2017-06-23 18:10] vhugo92 opened #101 "Is there a way to use ios' template on android device?"
I'd like to switch the default android search bar template for the ios' one. Is it possible? Or to customize it any way?

[2017-06-23 19:55] victorpinheiro commented on #91
Hello @izaguerreiro, did you find any solution?

[2017-06-26 12:09] izaguerreiro commented on #91
Hi @vhugo92, I don't found any solution.

[2017-06-29 12:29] asiddeen commented on #95
Hello @Disane87

you can use directive to achieve it;

directive:
`.filter('highlight', function($sce) {
		return function(text, phrase) {
			if (phrase) text = text.replace(new RegExp('('+phrase+')', 'gi'),
			'<span class="highlighted">$1</span>');
			return $sce.trustAsHtml(text);
		};
	})`

controller:
`$rootScope.cText = '';
      var filterBarInstance;
      $scope.showFilterBar = function (

[2017-09-30 01:32] abdulwahid24 commented on #49
@EricDosReis Thanks a ton.

[2021-02-04 19:41] #57 closed

[2022-04-22 00:40] #73 closed

[2022-06-04 15:23] #75 closed